<div style="align-items: center; text-align: center;">

    <h1>{{title}}</h1>

    <form [formGroup]="addForm"  style="margin-bottom: 20px;" (submit)="getData()">
        <input id="name" type="text" style="width: 300px;padding: 10px; " name="name"
            formControlName="name" placeholder="Enter Your Name" [(ngModel)]="nameff"><br>
        <span>
            {{error('name')}}
        </span>
        <br><br>

        <input id="email" type="text" style="width: 300px;padding: 10px;" 
        formControlName="email" [(ngModel)]="emailff" name="email" placeholder="Enter Your Email"><br>
        <span>
            {{error('email')}}
        </span>
        <br><br>

        <input id="time" [min]="minDate" formControlName="date" [max]="maxDate" 
        style="width: 300px;padding: 10px;" type="date" [(ngModel)]="DOBff" name="DOB"><br>
        <span>
            {{error('date')}}
        </span>
        <br><br>


        <button id="btn" style="color: white;background-color: blue; border-radius: 
    30px;margin: 0px 4px;padding: 10px;border: none;" [disabled]="addForm.invalid">Add New User</button>
        <!-- <button [onClick]="clearForm" id="btn1" style="color: white;background-color: grey; border-radius: 
    30px;margin: 0px 4px;padding: 10px 20px;border: none;">Clear</button> -->
    </form>

    <a routerLink="/list" style="color: white; background-color: green;text-decoration: 
    none;padding: 10px 40px; font-size: 20px; border-radius: 30px;">List</a>

</div>