<div>

    <h1>{{title}}</h1>

    <form [formGroup]="addForm" (submit)="getData()">
        <input type="text" name="userId" formControlName="uId" placeholder="Enter Your UserId"
            [(ngModel)]="userId_F"><br>
        <span>
            {{error('uId')}}
        </span>
        <br><br>

        <input type="text" formControlName="title" [(ngModel)]="title_F" name="title"
            placeholder="Enter Your Email"><br>
        <span>
            {{error('title')}}
        </span>
        <br><br>

        <input formControlName="body" type="text" [(ngModel)]="body_F" placeholder="enter body text" name="body"><br>
        <span>
            {{error('body')}}
        </span>
        <br><br>

        <button id="btn" [disabled]="addForm.invalid">Add New User</button>
    </form>

    <a routerLink="/list" id="listBtn">List</a>

</div>