<!-- <table class="center">
    <tr>
        <th>UserId</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let list of data let x=index" style="text-align: center;">
        <td>{{list.userId}}</td>
        <td>{{list.id}}</td>
        <td>{{list.title}}</td>
        <td>{{list.body}}</td>
        <td><a (click)="deleted(list.id)">Delete</a></td>
    </tr>
</table> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>UserId</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef>Body</th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div id="div">
    <a routerLink="/add" id="btn">Add</a>
</div>