table,
td,
th {
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    padding: 3px 50px !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    cursor: pointer;
}

#btn {
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 30px;
}

#div {
    text-align: center;
    margin: 30px 0px;
}